.good {
    display:none;
}
.bad {
    background: #960e0e;
    padding: 10px;
    border-radius: 10px;
    position: relative; 
    display: inline-block;
    box-shadow: 1px 1px 1px #000000;
    margin-top: 10px;
    color:white;
}