.good {
    display:none;
}
.bad {
    background: #c51244;
    padding: 10px;
    border-radius: 10px;
    position: relative; 
    display: inline-block;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;
    color:white;
}